@font-face {
  font-family: AurulentSans;
  src: url(../font/AurulentSans-Regular.otf); }
@font-face {
  font-family: AurulentSans-Bold;
  src: url(../font/AurulentSans-Bold.otf); }
html {
  background: black; }

li a {
  text-decoration: none;
  font-family: AurulentSans; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

h1 {
  display: inline;
  font-family: 'Open Sans Condensed', sans-serif; }

p {
  font-family: 'Montserrat', sans-serif; }

body {
  background: #415a6c;
  margin: 0; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252a60;
  opacity: 1;
  visibility: visible;
  transition: height 0.7s;
  z-index: 61;
  overflow: hidden; }
  .loader h1 {
    animation: color-me-in 4s;
    margin: 0 auto;
    display: block;
    width: 300px;
    top: 35vh;
    left: 38vw;
    position: absolute;
    border: 0;
    font-size: 8vw !important;
    box-shadow: none; }

@keyframes color-me-in {
  /* You could think of as "step 1" */
  0% {
    color: #252a60; }
  /* You could think of as "step 2" */
  100% {
    color: white; } }
.loader.loaded {
  height: 0px; }

.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 1000px; }

.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px; }

.parallax-layer.layer-0 {
  top: 20vh;
  left: 33%;
  width: 500px;
  height: 10%;
  display: block;
  margin: 0 auto;
  z-index: 6;
  background-size: 100% 35vh;
  background-repeat: no-repeat; }

h1 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  padding: 10px 60px;
  font-size: 69px !important;
  border: 1px solid white;
  box-shadow: 2px 2px #af9797; }

.layer-1 {
  z-index: 5;
  background-repeat: no-repeat;
  background: linear-gradient(#75a5db, #d0ceda);
  height: 600px; }

.layer-2 {
  top: 28vh;
  z-index: 5;
  background-image: url("../../port/img/fw-back-mountains.png");
  background-size: 100% 35vh;
  background-repeat: no-repeat; }

.layer-3 {
  top: 44vh;
  z-index: 10;
  background-image: url("../../port/img/middle-mountain22.png");
  background-repeat: no-repeat;
  background-size: 54% 35vh;
  left: 6vw; }

.layer-4 {
  top: 34vh;
  z-index: 15;
  background-image: url("../../port/img/fw-side-mountains.png");
  background-size: 100% 36vh;
  background-repeat: no-repeat; }

.layer-5 {
  top: 51vh;
  z-index: 20;
  background-image: url("../../port/img/fw-back-hills.png");
  background-size: 100% 30vh;
  background-repeat: no-repeat;
  left: 0px; }

.layer-6 {
  top: 53vh;
  z-index: 25;
  background-image: url("../../port/img/fw-font-mountains.png");
  background-size: 100% 34vh;
  /* left: 5%; */
  background-repeat: no-repeat; }

.content {
  position: absolute;
  top: 100vh;
  background: #00002c;
  width: 100%;
  min-height: 1000px;
  z-index: 1000; }

.content h1 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center; }

body {
  height: 100vw;
  background: #00002b; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #353E43;
  transition: all 0.25s ease-in-out;
  height: 20px;
  z-index: 20; }
  #header.scrolled {
    background-color: #DFE4E8; }
    #header.scrolled .logo, #header.scrolled .nav-items li a {
      color: black; }

.logo {
  float: left;
  color: #FFF;
  font-family: AurulentSans; }

.nav-items {
  float: right;
  margin: 0 10px 0 0; }
  .nav-items li {
    display: inline-block;
    padding: 0 5px; }
    .nav-items li a {
      color: #FFF; }

.work-experience .job-container, .work-experience .about-container, .about .job-container, .about .about-container {
  width: 425px;
  display: block;
  margin: 60px auto; }
.work-experience h2, .about h2 {
  color: white;
  font-family: AurulentSans-Bold;
  font-size: 24px; }
.work-experience .job h3, .about .job h3 {
  color: #e74c3c;
  font-family: AurulentSans-Bold;
  font-size: 28px;
  margin-bottom: 6px; }
.work-experience .job h4, .about .job h4 {
  font-family: AurulentSans;
  font-size: 18px;
  color: white;
  margin-bottom: 6px; }
.work-experience .job p, .about .job p {
  font-family: AurulentSans;
  color: white; }

.technologies .skills-container {
  display: block;
  margin: 60px auto; }
  .technologies .skills-container h2 {
    color: white;
    font-family: AurulentSans-Bold;
    font-size: 24px;
    text-align: center; }
  .technologies .skills-container .skills {
    text-align: center; }
    .technologies .skills-container .skills h4 {
      font-family: AurulentSans-Bold;
      font-size: 28px;
      color: white;
      margin-bottom: 6px;
      color: #f1c40f; }
    .technologies .skills-container .skills p {
      font-family: AurulentSans;
      color: white; }

.social2 {
  height: 200px; }

.social-ul {
  line-height: 100px;
  margin: 0 !important; }
  .social-ul li {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
    list-style: none; }

.social {
  background: #dfe4e8; }
  .social h3 {
    font-family: AurulentSans-Bold;
    font-size: 28px;
    margin-bottom: 6px;
    color: #34495e;
    margin-top: 10px; }
  .social h4 {
    font-family: AurulentSans-Bold;
    font-size: 28px;
    margin-bottom: 6px;
    color: #34495e; }
  .social p {
    font-family: AurulentSans;
    color: black; }

.twitter {
  background: url("../../port/img/Twitter.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px; }

.linkedin {
  background: url("../../port/img/Linked-in.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px; }

.instagram {
  background: url("../../port/img/Instgram.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px; }

.about-container p {
  color: white;
  font-family: AurulentSans; }

.social-container, .contact-container {
  width: 425px;
  display: block;
  margin: 0 auto; }

@media (min-width: 601px) and (max-width: 910px) {
  .job-container {
    width: 100% !important;
    padding: 0 15px; }

  .about-container {
    width: 92% !important;
    padding: 0 15px; }

  .layer-0 {
    left: 0 !important; }
    .layer-0 h1 {
      padding: 10px 20px !important; }

  .layer-2 {
    background-size: 100% 300px;
    top: 300px; }

  .layer-3 {
    background-size: 100% 300px;
    top: 430px; }

  .layer-4 {
    background-size: 100% 300px;
    top: 390px; }

  .layer-5 {
    background-size: 100% 200px;
    top: 590px; }

  .layer-6 {
    background-size: 100% 300px;
    top: 590px; }

  .content {
    top: 1000px; } }
@media (max-width: 600px) {
  .nav-items li {
    font-size: 12px; }

  .parallax-layer.layer-0 {
    width: 100%;
    text-align: center; }
    .parallax-layer.layer-0 h1 {
      font-size: 50px !important;
      padding: 0; }

  .job-container, .work-experience {
    width: 100% !important;
    padding: 10px; }

  .about-container, .skills-container {
    width: 95% !important; }

  .skills h4 {
    font-size: 22px !important; }

  .layer-0 {
    left: 0 !important; }
    .layer-0 h1 {
      padding: 10px 20px !important; }

  .layer-2 {
    background-size: 100% 300px;
    top: 300px; }

  .layer-3 {
    background-size: 100% 300px;
    top: 430px; }

  .layer-4 {
    background-size: 100% 300px;
    top: 390px; }

  .layer-5 {
    background-size: 100% 200px;
    top: 590px; }

  .layer-6 {
    background-size: 100% 300px;
    top: 590px; }

  .content {
    top: 1000px; } }

/*# sourceMappingURL=custom.css.map */
