@font-face {
    font-family: AurulentSans;
    src: url(../font/AurulentSans-Regular.otf);
}

@font-face {
    font-family: AurulentSans-Bold;
    src: url(../font/AurulentSans-Bold.otf);
}

html {
    background: black;
}

li {
    a {
        text-decoration: none;
        font-family: AurulentSans;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}


h1 {
    //font-family: Geometria;
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #415a6c;
    margin: 0;
}

.parallax-container {
    position: fixed;
    overflow: visible;
    width: 100%;
    height: 850px;
}

.parallax-layer {
    width: 100%;
    height: 500px;
    position: fixed;
    left: 0;
    top: 0;
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 960px 253px;
}

.parallax-layer.layer-0 {
    top: 110px;
    width: 610px;
    height: 10%;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 6;
    background-size: 100% 300px;
    background-repeat: no-repeat;
    border: 1px solid white;
    box-shadow: 2px 2px #af9797;
}

h1 {
    color: white;
    padding: 10px 60px;
    font-size: 69px !important;
    font-weight: 700;

}

.layer-1 {
    top: -20px;
    z-index: 5;
    background-image: url('../../port/img/fw-sky.jpg');
    background-size: 100% 480px;
    background-repeat: no-repeat;
}

.layer-2 {
    top: 177px;
    z-index: 5;
    background-image: url('../../port/img/fw-back-mountains.png');
    background-size: 100% 300px;
    background-repeat: no-repeat;
}

.layer-3 {
    top: 320px;
    z-index: 10;
    background-image: url('../../port/img/middle-mountain22.png');
    background-repeat: no-repeat;
    background-size: 54% 300px;
    left: 8vw;
}

.layer-4 {
    top: 250px;
    z-index: 15;
    background-image: url('../../port/img/fw-side-mountains.png');
    background-size: 100% 310px;
    background-repeat: no-repeat;
}

.layer-5 {
    top: 345px;
    z-index: 20;
    background-image: url('../../port/img/fw-back-hills.png');
    background-size: 100% 200px;
    background-repeat: no-repeat;
    left: 0px;
}

.layer-6 {
    top: 440px;
    z-index: 25;
    background-image: url('../../port/img/fw-font-mountains.png');
    background-size: 100% 290px;
    /* left: 5%; */
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 850px;
    background: #00183e;
    //#00183e
    //00002b
    width: 100%;
    min-height: 1000px;
}

.content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}


body {
    height: 100vw;
    background: #00002b;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #353E43;
    transition: all 0.25s ease-in-out;
    height: 20px;
    z-index: 20;

    &.scrolled {
        background-color: #DFE4E8;
        .logo, .nav-items li a {
            color: black;
        }
    }
}

.logo {
    float: left;
    color: #FFF;
    font-family: AurulentSans;
}

.nav-items {
    float: right;
    margin: 0 10px 0 0;

    li {
        display: inline-block;
        padding: 0 5px;

        a {
            color: #FFF;
        }
    }
}

.work-experience, .about {
    .job-container, .about-container {
        width: 425px;
        display: block;
        margin: 60px auto;
    }
    h2 {
        color: white;
        font-family: AurulentSans-Bold;
        font-size: 24px;
    }
    .job {
        h3 {
            color: #e74c3c;
            font-family: AurulentSans-Bold;
            font-size: 28px;
            margin-bottom: 6px;
        }
        h4 {
            font-family: AurulentSans;
            font-size: 18px;
            color: white;
            margin-bottom: 6px;
        }
        p {
            font-family: AurulentSans;
            color: white;
        }
    }
}

.technologies {
    .skills-container {
        display: block;
        margin: 60px auto;
        h2 {
            color: white;
            font-family: AurulentSans-Bold;
            font-size: 24px;
            text-align: center;
        }
        .skills {
            text-align: center;
            h4 {
                font-family: AurulentSans-Bold;
                font-size: 28px;
                color: white;
                margin-bottom: 6px;
                color: #f1c40f;
            }
            p {
                font-family: AurulentSans;
                color: white;
            }
        }
    }
}

.social2 {
    height: 200px;
}

.social-ul {
    line-height: 200px;
    margin: 0 !important;
    li {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 10px 10px 0;
        list-style: none;
    }
}

.social {
    background: #7f8c8d;
    h3 {
        font-family: AurulentSans-Bold;
        font-size: 28px;
        margin-bottom: 6px;
        color: #34495e;
        margin-top: 10px;
    }
    h4 {
        font-family: AurulentSans-Bold;
        font-size: 28px;
        margin-bottom: 6px;
        color: #34495e;
    }
    p {
        font-family: AurulentSans;
        color: white;
    }
}

.twitter {
    background: url('../../port/img/Twitter.png');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.linkedin {
    background: url('../../port/img/Linked-in.png');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.instagram {
    background: url('../../port/img/Instgram.png');
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.about-container {
    p {
        color: white;
        font-family: AurulentSans;
    }
}

.social-container, .contact-container {
    width: 425px;
    display: block;
    margin: 0 auto;
}