$bp-larger-than-mobile: "max-width: 600px" !default;
$bp-larger-than-tablet: "max-width: 950px" !default;

$vertPad: 80px;
$sidePad: 70px;

$numOfEls: 4;
$elMrg: 1%;

$initAT: 1s;
$initDelayStep: 0.1s;
$fullInitAT: $initAT + $initDelayStep * ($numOfEls - 1);
$moveAT: 0.6s;
$expandAT: 0.7s;
$expandDelay: 0.1s;
$bgScaleAT: 0.8s;
$fadeoutAT: $moveAT + $expandAT / 2;
$indexHoverAT: 0.5s;
$closeBtnAT: 0.3s;
$closeBtnLineDelay: 0.15s;
$fullExpandAT: $moveAT + $expandDelay + $expandAT;
$contentFadeinAT: 0.5s;

@font-face {
    font-family: AurulentSans;
    src: url(../../port/font/AurulentSans-Regular.otf);
}

@font-face {
    font-family: AurulentSans-Bold;
    src: url(../../port/font/AurulentSans-Bold.otf);
}

@font-face {
    font-family: ArchivoBlack;
    src: url(../../port/font/ArchivoBlack.otf);
}

html {
    background: red;
}

li {
    a {
        text-decoration: none;
        font-family: AurulentSans;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #415a6c;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: block;
    position: absolute;
}

body.loaded {
    overflow-x: hidden;
}

.loaded {
    position: relative;
    overflow: visible;
}

.wrapper {
    visibility: hidden;
    background: black;
}

.wrapper.loaded {
    visibility: visible;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252a60;
    opacity: 1;
    visibility: visible;
    transition: height 0.7s;
    z-index: 61;
    overflow: hidden;
    text-align: center;

    h1 {
        animation: color-me-in 4s;
        margin: 0 auto;
        display: block;
        width: 300px;
        top: 35vh;
        position: relative;
        border: 0;
        font-size: 8vw !important;
        box-shadow: none;
    }
}

@keyframes color-me-in {
    0% {
        color: #252a60;
    }

    100% {
        color: white;
    }
}

.loader.loaded {
    height: 0px;
    visibility: hidden;
}

.loader.mobile-loaded {
    transition: height 0s;
    height: 0px;
}

.parallax-container {
    position: fixed;
    overflow: visible;
    width: 100%;
    height: 1000px;
}

.layer-0 h1 {
    font-family: ArchivoBlack;
    font-size: 12.5vw;
}

.parallax-layer {
    width: 107%;
    height: 500px;
    position: fixed;
    left: 0;
    top: 0;
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: 960px 253px;
    transform: translateY(var(--translateY)) translateX(var(--translateX));
    transform: translateY(var(--translateY)), translateX(var(--translateX));
    will-change: transform;
}

.parallax-layer.layer-0 {
    top: 15vh;
    width: 100%;
    height: 10%;
    display: block;
    margin: 0 auto;
    z-index: 6;
    text-align: center;
    background-size: 100% 35vh;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.layer-1 {
    z-index: 5;
    background-repeat: no-repeat;
    background: linear-gradient(#75a5db, #d0ceda);
    height: 600px;
}

.layer-2 {
    top: 30vh;
    z-index: 5;
    background-image: url("../../port/img//fw-back-mountains.png");
    background-size: 110% 35vh;
    background-repeat: no-repeat;
    left: -3%;
}

.layer-3 {;
    top: 45vh;
    z-index: 10;
    background-image: url("../../port/img//middle-mountain22.png");
    background-repeat: no-repeat;
    background-size: 58% 35vh;
    left: 3vw;
}

.layer-4 {
    top: 36vh;
    z-index: 15;
    background-image: url("../../port/img//fw-side-mountains.png");
    background-size: 110% 36vh;
    background-repeat: no-repeat;
    left: -4%;
}

.layer-5 {
    top: 55vh;
    z-index: 20;
    background-image: url("../../port/img//fw-back-hills.png");
    background-size: 110% 32vh;
    background-repeat: no-repeat;
    left: -5%;
    width: 110%;
}

.layer-6 {
    top: 55vh;
    z-index: 25;
    background-image: url("../../port/img//fw-font-mountains.png");
    background-size: 110% 34vh;
    background-repeat: no-repeat;
    left: -7%;
    width: 115%;
}

.content {
    position: absolute;
    top: 100vh;
    background: #00002c;
    width: 100%;
    min-height: 1000px;
    z-index: 1000;
}

.content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

body {
    height: 100vw;
    background: #00002b;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #353E43;
    transition: all 0.25s ease-in-out;
    height: 20px;
    z-index: 21;

    &.scrolled {
        background-color: #DFE4E8;

        .logo, .nav-items li a {
            color: black;
        }
    }
}

.logo {
    float: left;
    color: #FFF;
    font-family: AurulentSans;
}

.nav-items {
    float: right;
    margin: 0 10px 0 0;

    li {
        display: inline-block;
        padding: 0 5px;

        a {
            color: #FFF;
        }
    }
}

.work-experience, .about {
    .job-container, .about-container {
        width: 70%;
        display: block;
        margin: 60px auto;
        min-width: 425px;
    }

    h2 {
        color: white;
        font-family: AurulentSans-Bold;
        font-size: 3vw;
    }

    .job {
        h3 {
            color: #e74c3c;
            font-family: AurulentSans-Bold;
            font-size: 2vw;
            margin-bottom: 6px;
        }

        h4 {
            font-family: AurulentSans;
            font-size: 1.4vw;
            color: white;
            margin-bottom: 6px;
        }

        p {
            font-family: AurulentSans;
            color: white;
            font-size: 1vw;
        }
    }
}

.technologies {
    .skills-container {
        display: block;
        margin: 60px auto;

        h2 {
            color: white;
            font-family: AurulentSans-Bold;
            font-size: 3vw;
            text-align: center;
        }

        .skills {
            text-align: center;

            h4 {
                font-family: AurulentSans-Bold;
                font-size: 2vw;
                color: white;
                margin-bottom: 6px;
                color: #f1c40f;
            }

            p {
                font-family: AurulentSans;
                color: white;
                font-size: 1vw;
            }
        }
    }
}

.social2 {
    height: 200px;
}

.social-ul {
    line-height: 100px;
    margin: 0 !important;

    li {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 10px 10px 0;
        list-style: none;
    }
}

.social {
    background: rgb(223, 228, 232);

    h3 {
        font-family: AurulentSans-Bold;
        font-size: 28px;
        margin-bottom: 6px;
        color: #34495e;
        margin-top: 10px;
    }

    h4 {
        font-family: AurulentSans-Bold;
        font-size: 28px;
        margin-bottom: 6px;
        color: #34495e;
    }

    p {
        font-family: AurulentSans;
        color: black;
    }
}

.twitter {
    background: url("../../port/img/Twitter.png");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.linkedin {
    background: url("../../port/img/Linked-in.png");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.instagram {
    background: url("../../port/img/Instgram.png");
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.about-container {
    p {
        color: white;
        font-family: AurulentSans;
        font-size: 1vw;
    }
}

.social-container, .contact-container {
    width: 425px;
    display: block;
    margin: 0 auto;
}

.no-parallax {
    display: none;
}

.works {
    padding: 40px;
    width: 100%;

    .DA, .sitter, .game {
        display: table;
        max-width: 1280px;
        width: 100%;
        margin: 40px auto 40px auto;
        height: 309px;

    }
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin elHover {
    .el:hover & {
        @content;
    }
}

@mixin elActive {
    .el.s--active & {
        @content;
    }
}

@mixin contInactive {
    .cont.s--inactive & {
        @content;
    }
}

@mixin contElActive {
    .cont.s--el-active & {
        @content;
    }
}

.cont {
    position: relative;
    overflow: hidden;
    height: calc(100vw/2);
    padding: $vertPad $sidePad;

    &__inner {
        position: relative;
        height: 100%;

        &:hover .el__bg:after {
            opacity: 1;
        }
    }
}

.el {
    $elW: (100% - $elMrg * ($numOfEls - 1)) / $numOfEls;
    $elMrgRel: percentage($elMrg / $elW);

    position: absolute;
    left: 0;
    top: 0;
    width: $elW + 8;
    height: 100%;
    background: #252525;
    transition: transform $moveAT $expandAT, width $expandAT, opacity $moveAT $expandAT, z-index 0s ($moveAT + $expandAT);
    will-change: transform, width, opacity;

    &:not(.s--active) {
        cursor: pointer;
    }

    &__overflow {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    &__inner {
        overflow: hidden;
        position: relative;
        height: 100%;
        transition: transform $initAT;

        @include contInactive {
            transform: translate3d(0, 100%, 0);
        }
    }

    &__bg {
        position: relative;
        width: calc(100vw - #{$sidePad * 2});
        height: 100%;
        transition: transform $moveAT $expandAT;
        will-change: transform;

        &:before {
            content: "";
            position: absolute;
            left: 0;

            //top: -5%;
            width: 100%;
            height: 110%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transition: transform $initAT;
            transform: translate3d(0, 0, 0) scale(1);

            @include contInactive {
                transform: translate3d(0, -100%, 0) scale(1.2);
            }


            @include elActive {
                transition: transform $bgScaleAT;
            }
        }

        &:after {
            $opacityAT: 0.5s;

            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity $opacityAT;

            @include contElActive {
                transition: opacity $opacityAT $fullExpandAT;
                opacity: 1 !important;
            }
        }
    }

    &__preview-cont {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ($fullInitAT - 0.2s);

        @include contInactive {
            opacity: 0;
            transform: translateY(10px);
        }


        @include contElActive {
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.5s;
        }
    }

    &__heading-background {
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.31);
    }

    &__heading {
        color: white;
        text-transform: uppercase;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.56);
        font-size: 2vw;
        font-family: AurulentSans-Bold;
        width: initial;
        margin: 0;
        padding: 20px 0;
    }

    &__content {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 60px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.1s;

        @include elActive {
            z-index: 2;
            opacity: 1;
            pointer-events: auto;
            transition: all $contentFadeinAT $fullExpandAT;
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: 2.4vw;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.63);
        color: #fff;
    }

    &__close-btn {
        z-index: -1;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 60px;
        height: 60px;
        opacity: 0;
        pointer-events: none;
        transition: all 0s ($closeBtnAT + $closeBtnLineDelay);
        cursor: pointer;

        @include elActive {
            z-index: 5;
            opacity: 1;
            pointer-events: auto;
            transition: all 0s $fullExpandAT;
        }


        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 8px;
            margin-top: -4px;
            background: #fff;
            opacity: 0;
            transition: opacity 0s;

            @include elActive {
                opacity: 1;
            }
        }

        &:before {
            transform: rotate(45deg) translateX(100%);

            @include elActive {
                transition: all $closeBtnAT $fullExpandAT cubic-bezier(0.72, 0.09, 0.32, 1.57);
                transform: rotate(45deg) translateX(0);
            }
        }

        &:after {
            transform: rotate(-45deg) translateX(100%);

            @include elActive {
                transition: all $closeBtnAT ($fullExpandAT + $closeBtnLineDelay) cubic-bezier(0.72, 0.09, 0.32, 1.57);
                transform: rotate(-45deg) translateX(0);
            }
        }
    }

    &__index {
        overflow: hidden;
        position: absolute;
        left: 0;
        bottom: $vertPad * -1;
        width: 100%;
        height: 100%;
        min-height: 250px;
        text-align: center;
        font-size: 100vw / $numOfEls;
        line-height: 0.85;
        font-weight: bold;
        transition: transform $indexHoverAT, opacity ($moveAT / 2) ($expandAT + $expandDelay + $moveAT);
        transform: translate3d(0, 1vw, 0);

        @include elHover {
            transform: translate3d(0, 0, 0);
        }


        @include contElActive {
            transition: transform $indexHoverAT, opacity ($moveAT / 2);
            opacity: 0;
        }


        &-back,
        &-front {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        &-back {
            color: #2f3840;
            opacity: 0;
            transition: opacity ($indexHoverAT / 2) ($indexHoverAT / 2);

            @include elHover {
                transition: opacity ($indexHoverAT / 2);
                opacity: 1;
            }
        }

        &-overlay {
            overflow: hidden;
            position: relative;
            transform: translate3d(0, 100%, 0);
            transition: transform $indexHoverAT 0.1s;
            color: transparent;

            &:before {
                content: attr(data-index);
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                transform: translate3d(0, -100%, 0);
                transition: transform $indexHoverAT 0.1s;
            }

            @include elHover {
                transform: translate3d(0, 0, 0);

                &:before {
                    transform: translate3d(0, 0, 0);
                }
            }
        }
    }

    @for $i from 0 to $numOfEls {
        &:nth-child(#{$i + 1}) {
            $x: (100% + $elMrgRel) * $i;

            transform: translate3d($x, 0, 0);
            transform-origin: ($x + 50%) 50%;

            @include contElActive {
                &:not(.s--active) {
                    transform: scale(0.5) translate3d($x, 0, 0);
                    opacity: 0;
                    transition: transform $fadeoutAT, opacity $fadeoutAT;
                }
            }


            .el__inner {
                transition-delay: $initDelayStep * $i;
            }

            .el__bg {
                transform: translate3d($elW * $i * -1, 0, 0);

                &:before {
                    transition-delay: 0.1s * $i;
                    background-image: url("../img/work-#{$i + 1}.jpg");
                }
            }
        }
    }

    &:hover {
        .el__bg:after {
            opacity: 0;
        }
    }

    &.s--active {
        z-index: 1;
        width: 100%;
        transform: translate3d(0, 0, 0);
        transition: transform $moveAT, width $expandAT ($moveAT + $expandDelay), z-index 0s;

        .el__bg {
            transform: translate3d(0, 0, 0);
            transition: transform $moveAT;

            &:before {
                transition-delay: $moveAT;
                transform: scale(1);
            }
        }
    }
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;

    img {
        width: 100%;
        vertical-align: top;
    }

    &--twitter {
        left: auto;
        right: 5px;
    }
}

//For browsers
@media (#{$bp-larger-than-tablet}) {
    .work-experience, .about {
        .job-container, .about-container {
            width: 100%;
            padding: 0 15px;
        }
    }
}

@media (#{$bp-larger-than-mobile}) {
    .nav-items {
        li {
            font-size: 12px;
        }
    }

    body {
        overflow: visible;
        width: 100%;
    }

    .no-parallax {
        background-image: url("../../port/img/mountains-mobile.jpg");
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 550px;
        position: relative;
        z-index: 10;
        text-align: center;

        h1 {
            font-size: 44px !important;
            top: 50px;
            position: relative;
            padding: 10px 20px;
            display: inline-block;
            text-align: center;
            margin: 30px 0;
        }
    }

    .content {
        position: relative;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: top;
        z-index: 1000;
        clear: both;
        overflow: hidden;
        top: 0;
        width: 100%;
    }

    .social-container, .social {
        h3 {
            margin-left: 20px;
        }

        p {
            margin-left: 10px;
        }
    }

    .parallax-container {
        display: none;
    }

    .parallax-layer.layer-0 {
        width: 100%;
        text-align: center;

        h1 {
            font-size: 50px !important;
            padding: 0;
        }
    }

    .job-container, .work-experience {
        width: 95% !important;
        padding: 10px;
    }

    .about-container, .skills-container {
        width: 95% !important;
    }

    .skills {
        h4 {
            font-size: 22px !important;
        }
    }

    .layer-0 {
        left: 0 !important;

        h1 {
            padding: 10px 20px !important;
        }
    }

}

@media handheld, screen and (min-width: 601px) and (max-width: 910px) and (min-device-width: 601px) and (max-device-width: 910px) {
    .job-container {
        width: 100% !important;
        padding: 0 15px;
    }

    .about-container {
        width: 92% !important;
        padding: 0 15px;
    }

    .layer-0 {
        left: 0 !important;

        h1 {
            padding: 10px 20px !important;
        }
    }

    .layer-2 {
        //top: 0px;
        background-size: 100% 250px;
        top: 70px;
    }

    .layer-3 {
        //top: 90px;
        background-size: 63% 250px;
        top: 190px;
    }

    .layer-4 {
        //top: 45px;
        background-size: 100% 250px;
        top: 140px;
    }

    .layer-5 {
        //top: 170px;
        background-size: 100% 200px;
        top: 240px;
    }

    .layer-6 {
        background-size: 100% 200px;
        top: 240px;
    }

}

@media handheld, screen and (max-width: 600px) and (max-device-width: 600px) {
    .nav-items {
        li {
            font-size: 12px;
        }
    }

    body {
        overflow: visible;
        width: 100%;
    }

    .no-parallax {
        background-image: url("../../port/img/mountains-mobile.jpg");
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        height: 550px;
        position: relative;
        z-index: 10;
        text-align: center;

        h1 {
            font-size: 44px !important;
            top: 50px;
            position: relative;
            padding: 10px 20px;
            display: inline-block;
            text-align: center;
            margin: 30px 0;
        }
    }

    .content {
        position: relative;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: top;
        z-index: 20;
        clear: both;
        overflow: hidden;
        top: 0;
        width: 100%;
    }

    .social-container, .social {
        h3 {
            margin-left: 20px;
        }

        p {
            margin-left: 10px;
        }
    }

    .parallax-container {
        display: none;
    }

    .parallax-layer.layer-0 {
        width: 100%;
        text-align: center;

        h1 {
            font-size: 50px !important;
            padding: 0;
        }
    }

    .job-container, .work-experience {
        width: 95% !important;
        padding: 10px;
    }

    .about-container, .skills-container {
        width: 95% !important;
    }

    .skills {
        h4 {
            font-size: 22px !important;
        }
        p{
            font-size:20px !important
        }
    }
    .job-container, .about{
        h2{
            font-size: 28px !important;
        }
        h4{
            font-size: 20px !important;
        }
        h3{
            font-size: 22px !important;
        }
        p{
            font-size: 16px !important;
        }
    }
    .layer-0 {
        left: 0 !important;

        h1 {
            padding: 10px 20px !important;
        }
    }

    .layer-2 {
        //top: 0px;
        background-size: 100% 250px;
        top: 70px;
    }

    .layer-3 {
        //top: 90px;
        background-size: 63% 250px;
        top: 190px;
    }

    .layer-4 {
        //top: 45px;
        background-size: 100% 250px;
        top: 140px;
    }

    .layer-5 {
        //top: 170px;
        background-size: 100% 200px;
        top: 240px;
    }

    .layer-6 {
        background-size: 100% 200px;
        top: 240px;
    }

    .cont{
        padding: 10px 5px;
    }
    .el__bg{
        margin: 0 auto;
    }
    .el__content{
        padding:20px;
    }
    .el__close-btn{
        height:30px;
        width: 30px
    }
    .el__heading{
        font-size: 13px;
    }
    .skills-container{
        h2{
            font-size: 28px !important;
        }
    }
}