@font-face {
  font-family: Geometria;
  src: url(../../port/font/geometria.otf); }
/* line 5, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
html {
  background: black; }

/* line 8, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

/* line 11, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
h1 {
  font-family: Geometria;
  display: inline; }

/* line 16, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.connor-n-left {
  display: inline; }

/* line 20, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.connor-n-right {
  display: inline; }

/* line 24, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
#layer-0 {
  background: url("img/font-mountains.png");
  width: inherit; }

/* line 28, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
#layer-1 {
  background: url("img/back-hills.png");
  width: inherit; }

/* line 33, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.p-box {
  width: 100%;
  height: 1080px;
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  pointer-events: none; }

/* line 44, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.flex-container {
  padding: 20px;
  margin: 20px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: baseline; }

/* line 59, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.flex-container .flex-item {
  background: lightsalmon;
  padding: 5px;
  width: 225px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center; }

/* line 70, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.flex-container .flex-item p {
  font-size: 1.5rem; }

/* line 73, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
.flex-container .flex-item h3 {
  height: 45px; }

/* line 80, C:/Users/Dnoop/Desktop/Portfolio/css/custom.scss */
body {
  background: #415a6c;
  margin: 0;
  font-family: 'Oswald'; }

.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%; }

.parallax-container {
  background: #83a2d1; }

.parallax-layer {
  width: 100%;
  height: 500px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 960px 253px; }

.parallax-layer.layer-0 {
  top: 110px;
  width: 610px;
  height: 10%;
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 6;
  background-size: 100% 300px;
  background-repeat: no-repeat;
  border: 1px solid white;
  box-shadow: 2px 2px #af9797; }

h1 {
  color: white;
  padding: 10px 60px;
  font-size: 69px !important;
  text-shadow: 2px 3px 3px #afa6a6;
  font-weight: 700; }

.layer-1 {
  top: -20px;
  z-index: 5;
  background-image: url("../../port/img/sky2.png");
  background-size: 100% 480px;
  background-repeat: no-repeat; }

.layer-2 {
  top: 177px;
  z-index: 5;
  background-image: url("../../port/img/back-mountains2.png");
  background-size: 100% 300px;
  background-repeat: no-repeat; }

.layer-3 {
  top: 320px;
  z-index: 10;
  background-image: url("../../port/img/middle-mountain22.png");
  background-repeat: no-repeat;
  background-size: 54% 300px;
  left: 8vw; }

.layer-4 {
  top: 250px;
  z-index: 15;
  background-image: url("../../port/img/side-mountains2.png");
  background-size: 100% 310px;
  background-repeat: no-repeat; }

.layer-5 {
  top: 345px;
  z-index: 20;
  background-image: url("../../port/img/back-hills2.png");
  background-size: 100% 200px;
  background-repeat: no-repeat;
  left: 0px; }

.layer-6 {
  top: 440px;
  z-index: 25;
  background-image: url("../../port/img/font-mountains2.png");
  background-size: 100% 290px;
  /* left: 5%; */
  background-repeat: no-repeat; }

.content {
  position: absolute;
  top: 850px;
  background: #00002b;
  width: 100%;
  min-height: 1900px; }

.content h1 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center; }

body {
  height: 100vw;
  background: #00002b; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #353E43;
  transition: all 0.25s ease-in-out;
  height: 20px;
  z-index: 20; }
  #header.scrolled {
    background-color: #DFE4E8; }
    #header.scrolled .logo, #header.scrolled .nav-items li a {
      color: black; }

.logo {
  float: left;
  color: #FFF; }

.nav-items {
  float: right;
  margin: 0 10px 0 0; }
  .nav-items li {
    display: inline-block;
    padding: 0 5px; }
    .nav-items li a {
      color: #FFF; }

/*# sourceMappingURL=custom.css.map */

/*# sourceMappingURL=custom.css.map */
